<div class="nested-fields" data-nested-form-target="target">
    <div class="w-full lg:w-1/2 mt-2">
        <div class="flex items-center">
            <%= form.text_field :text, class: ["block shadow-sm rounded-lg border px-3 py-2 w-full", {"border-gray-400 focus:outline-blue-600": @question.errors[:text].none?, "border-red-400 focus:outline-red-600": @question.errors[:text].any?}] %>
            <%= form.hidden_field :_destroy %>
            <button type="button" data-action="nested-form#remove" class="
                text-white
                bg-gradient-to-r
                from-pink-400
                via-pink-500
                to-pink-600
                hover:bg-gradient-to-br
                focus:ring-4
                focus:outline-none
                focus:ring-pink-300
                dark:focus:ring-pink-800
                font-medium
                rounded-lg
                text-sm
                px-5
                ml-1
                h-10
                py-2.5
                text-center
                mb-0
                inline-block
                cursor-pointer"
            >
                Remove
            </button>
        </div>
    </div>
</div>