<%# This is the default person grid item that shows if you don't create a custom one %>

<div class="flex flex-col items-center p-3 border border-gray-200 rounded-lg hover:border-gray-400 transition-all">
  <% if person.headshot.attached? %>
    <%= image_tag person.headshot.variant(:thumb), alt: person.stage_name, class: "w-10 h-10 rounded-lg object-cover mb-1" if person.headshot.present? %>
  <% else %>
    <div class="w-10 h-10 rounded-lg bg-gray-300 flex items-center justify-center mb-1 text-white font-bold">
      <%= person.initials %>
    </div>
  <% end %>
  <span class="font-medium text-xs text-center"><%= person.stage_name.truncate(20, omission: '...') %></span>
</div>