<% content_for :title, "People" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">People</h1>
    <%= link_to "New person", new_person_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div class="relative flex w-96 flex-col rounded-lg border border-slate-200 bg-white shadow-sm">
    <nav class="flex min-w-[240px] flex-col gap-1 p-1.5">
      <% if @people.any? %>
        <% @people.each do |person| %>
          <%= render person %>
        <% end %>
      <% else %>
        <p class="text-center my-10">No people found.</p>
      <% end %>
    </nav>
  </div>
</div>
