<div id="<%= dom_id audition_session %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Call to audition:</strong>
    <%= audition_session.call_to_audition.production_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date and time:</strong>
    <%= audition_session.date_and_time.strftime("%-m/%-d/%Y %l:%M %p") %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Maximum Auditionees:</strong>
    <%= audition_session.maximum_auditionees %>
  </div>
</div>
