<div class="w-full max-w-4xl">
  <h1 class="font-bold text-4xl"><%= @production.name %></h1>
  <h2 class="font-bold text-2xl pt-5">Audition sign-up form</h2>

  <div class="mt-10 bg-red-50 border border-red-200 rounded-lg p-5 flex items-center">
    <span class="ml-3">
      This production is not currently accepting audition requests. Please contact the production team for more information.
    </span>
  </div>

</div>