<div class="flex items-center">
  <h1 class="font-bold text-4xl mb-3"><%= header_text %></h1>
  <% links.each do |link| %>
    <%= link_to link[:name], link[:path], class: "text-blue-500 hover:text-blue-800 font-medium text-md me-2 ml-3" %>
  <% end %>
</div>