<div id="<%= dom_id production %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= production.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= production.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Production Company:</strong>
    <%= production.production_company.name %>
  </div>
  
</div>
