<% content_for :title, "Editing production" %>

<div class="w-full">

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path]
    ],
    text: @production.name,
    links: []
  } %>

  <%= render "form", production: @production %>

  <%= button_to "Delete this production", @production, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-lg px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>

  </div>
