<% content_for :title, @production.name %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path]
    ],
    text: @production.name,
    links: [
      { text: "Edit", path: edit_production_path(@production) }
    ]
  } %>
  <div class="mb-5">
    <%= @production.description %>
  </div>

</div>
