<% content_for :title, "Showing production" %>

<div class="w-full">

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path]
    ],
    text: @production.name,
    links: [
      { text: "Edit", path: edit_production_path(@production) }
    ]
  } %>

  <div class="mb-5">
    <%= @production.description %>
  </div>

</div>
