<div class="w-full md:w-[50%] md:min-h-screen pt-10">
  <h1 class="text-4xl pt-2 font-bold mb-10 md:text-3xl md:pt-0 md:mb-20 ">CocoScout</h1>
  <p class="mb-6 text-5xl">We are debuting soon.</p>
  <p class="mb-6 text-lg inter-regular">
    We're building the world's best audition management and casting system -- Text TODO
    Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO
    Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO Text TODO.
    Sign up to get more info when we launch.
  </p>
  <p class="mb-6 p-5 text-lg inter-regular bg-pink-500 rounded-lg text-white">
    Thank you! We'll keep you posted.
  </p>

</div>
<div class="w-full pt-5 md:pt-0 md:fixed md:bottom-0 md:right-0 md:w-[50%] md:h-full md:flex md:items-end md:justify-end pointer-events-none">
  <img src="<%= asset_path('cocoscout.png') %>" alt="CocoScout" class="max-h-[70%] object-contain select-none pointer-events-none mr-5" />
</div>