<div id="<%= dom_id audition_request %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Call to audition:</strong>
    <%= audition_request.call_to_audition.production.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Person:</strong>
    <%= audition_request.person.stage_name %>
  </div>
</div>
