<% content_for :title, "Audition Requests" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)],
      ["Audition Requests", production_call_to_audition_audition_requests_path(@production, @call_to_audition)]
    ],
    text: "Schedule an Audition Request",
    links: []
  } %>

  <%= render "form", audition_request: @audition_request %>

  <%= link_to "Back", production_call_to_audition_audition_requests_path(@production, @call_to_audition), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-lg px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
