<div id="<%= dom_id call_to_audition %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Production:</strong>
    <%= call_to_audition.production.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Opens at:</strong>
    <%= call_to_audition.opens_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Closes at:</strong>
    <%= call_to_audition.closes_at %>
  </div>
</div>
