<% content_for :title, "Editing call to audition" %>

<div class="w-full">

  <%= render partial: "shared/notice", locals: { notice: notice } %>

  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
      ["Productions", productions_path],
      [@production.name, production_path(@production)]
    ],
    text: "Edit Call to Audition",
    links: []
  } %>

  <%= render "form", call_to_audition: @call_to_audition %>
</div>
