<div id="<%= dom_id show %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Production:</strong>
    <%= show.production.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Secondary name:</strong>
    <%= show.secondary_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date and time:</strong>
    <%= show.date_and_time %>
  </div>
</div>
