<% content_for :title, "Show: #{@show.date_and_time.strftime("%A, %B %-d, %Y")}" %>

<div class="w-full mb-10">
  <%= render partial: "shared/notice", locals: { notice: notice } %>
  <%= render partial: "shared/top_menu", locals: {
    breadcrumbs: [
       ["Shows", production_shows_path(@production)]
    ],
    text: @show.date_and_time.strftime("%A, %B %-d, %Y"),
    links: []
  } %>

</div>
