<div id="<%= dom_id show_cast_assignment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Show:</strong>
    <%= show_cast_assignment.show.display_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Person:</strong>
    <%= show_cast_assignment.person.display_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cast role:</strong>
    <%= show_cast_assignment.cast_role.name %>
  </div>
</div>
